# Database settings
DB__NAME=your-db-name
DB__USERNAME=your-db-user
DB__PASSWORD=your-db-password
DB__HOST=db
DB__PORT=5432
DB__DEBUG=false
DB__SSL=false
DB__URL=your-db-url-optional

# flask settings
FLASK__TEMPLATES_DIR=/app/templates
FLASK__STATIC_DIR=/app/static

# admin settings
ADMIN__USERNAME=your-manager-admin-username
ADMIN__PASSWORD_HASH=your-manager-admin-password-hash
ADMIN__SECRET_KEY=your-manager-admin-secret-key
